@import "~assets/styles/variables.scss";

#header {
  left: 0;
  height: $headerHeight;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-navigation {
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  background-color: rgba(255, 255, 255, 0) !important;
  transition: background-color 200ms;

  .icon {
    font-size: 30px;
    color: $colorFg;
  }
}

#layout:not(.scrollTop) .hamburger {
  background-color: rgba(255, 255, 255, .5) !important;
}
