@import "~assets/styles/variables.scss";

#header {
  left: 0;
  height: $headerHeight;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.header-navigation {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  position: relative;
}

.user {
  margin-right: auto;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 200ms;
  white-space: nowrap;
}

.logo {
  display: flex;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0);
  transition: 200ms;
  width: 50px;
}

.header-navigation-menu {
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: translate(68px, 0);
  transition: 200ms 200ms;
  @media(min-width: 700px) {
    display: flex;
  }

  li {
    &.menu {
      font-weight: bold;
    }

    &.nuxt-link-active {
      opacity: 0;
      pointer-events: none;
    }

    a {
      display: block;
      padding: 12px;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.hamburger {
  transition: 200ms 0;
  @media(min-width: 700px) {
    opacity: 0;
    pointer-events: none;
    transform: translate(100%, 0);
  }

  .icon {
    font-size: 30px;
    color: $colorFg;
  }
}

#layout:not(.scrollTop) {
  .header-navigation-menu {
    opacity: 0;
    pointer-events: none;
    transform: translate(68px, -100%);
  }

  .logo,
  .user {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  .hamburger {
    opacity: 1;
    pointer-events: auto;
    transform: translate(0, 0);
    transition-delay: 400ms;
  }
}
