@import "~assets/styles/variables.scss";

.component-joinForm {
  .address-preview .proposition {
    background-color: lightblue;
    border: 1px dashed;
    padding: 4px 8px 0;
  }

  .component-uploadcare {
    .preview {
      .image {
        object-fit: contain;
        max-height: 150px;
        width: 240px;
      }
    }

    .btn-upload {
      .icon {
        margin-right: 0.3em;
      }
    }

    .stateError {
      color: #b71c1c;
      min-height: 19px;
    }
  }

  .terms {
    margin-bottom: 1em;
  }

  .component-login {
    margin-bottom: 1em;
  }

  .component-terms {
    float: left;
  }
}
