@import "~assets/styles/variables.scss";

.component-joinForm {
  .address-preview .proposition {
    background-color: lightblue;
    border: 1px dashed;
    padding: 4px 8px 0;
  }

  .component-uploadcare {
    .preview {
      .standalone {
        object-fit: contain;
        max-height: 150px;
        width: 220px;
      }

      .gallery {
        .gallery-item {
          position: relative;

          .indication {
            background-color: rgba(255, 255, 255, .7);
            font-size: 0.8em;
            left: 5px;
            padding: 0 5px;
            position: absolute;
            text-transform: uppercase;
            top: 5px;
          }
        }

        img {
          padding: 2px;
        }
      }
    }

    .btn-upload {
      .icon {
        margin-right: 0.3em;
      }
    }

    .stateError {
      color: #b71c1c;
      min-height: 19px;
    }
  }

  .terms {
    margin-bottom: 1em;
  }

  .component-login {
    margin-bottom: 1em;
  }

  .component-terms {
    float: left;
  }
}
