@import "~assets/styles/variables.scss";

.component-members {
  .spinner {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100px;
  }

  .members {
    .flex {
      padding: 5px;

    }
  }

  .member {
    align-items: center;
    box-shadow: 2px 2px rgba(0,0,0,0.3);
    background-color: white;
    display: block;
    text-decoration: none;

    .member-cover {
      background-color: $colorBgDark;
      padding-bottom: 56.25%;
      position: relative;

      .icon-container,
      img {
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
      }

      .icon-container {
        align-items: center;
        background-color: $colorBgDark;
        color: white;
        display: flex;
        justify-content: center;
      }

      .icon {
        font-size: 2em;
        opacity: 0.3;
      }
    }

    .member-info {
      align-items: flex-end;
      display: flex;
      width: 100%;
      padding: 12px 7px 7px;
      position: relative;
      margin-top: -22px;
      min-height: 65px;

      .image {
        background-color: white;
        border: 1px solid rgba(0,0,0,.05);
        border-radius: 50%;
        box-shadow: 0 1px 5px rgba(0,0,0,.1);
        display: inline-flex;
        padding: 1px;
        width: 46px;
        @media(max-width:360px) {
          width: 30px;
          align-self: flex-start;
        }
      }

      .intro {
        flex-grow: 1;
        line-height: 1.2;
        max-width: 100%;
        overflow: hidden;
        padding-left: 7px;

        > div {
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .intro-name {
        font-size: 0.9em;
      }

      .intro-industry {
        font-size: 0.7em;
      }
    }
  }

  .emptyPaging {
    margin: 12px;
    padding: 12px;
    border: 2px dashed $colorSubtle;
  }
}
