@import "~assets/styles/variables.scss";

.section {
  overflow: hidden;

  &.section--small {
    text-align: center;

    .section-inner {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }

  &.section--dark {
    color: white;
    mix-blend-mode: multiply;

    .section-inner {
      background-color: $colorBgDark;
    }

    a {
      color: white;
    }
  }

  .section-inner {
    padding-top: 5em;
    padding-bottom: 4em;
    @media(min-width: $breakpointSmall) {
      padding-top: 7em;
      padding-bottom: 5em;
    }
  }
}

.wave {
  background-size: contain;
  background-position: bottom center;
  background-repeat: repeat-x;
  height: 5vw;
  width: 200%;
  @media(min-width: $breakpointLarge) {
    height: 40px;
  }

  &.wave-top {
    background-image: url('~assets/images/border-wave-top.png');
    margin-top: 5vw;
    @media(min-width: $breakpointLarge) {
      margin-top: 40px;
    }
  }

  &.wave-bottom {
    background-image: url('~assets/images/border-wave-bottom.png');
    margin-bottom: 5vw;
    @media(min-width: $breakpointLarge) {
      margin-bottom: 40px;
    }
  }
}
