$maxPageSize: 900px;
$breakpointMini: 400px;
$breakpointSmall: 600px;
$breakpointMedium: 995px;
$breakpointLarge: 1200px;
$breakpointExtraLarge: 1400px;
$colorSubtle: #5d5d5d;

$headerHeight: 68px;

$colorBg: white;
$colorFg: rgb(25, 25, 25);

// MadeInBasel Colors
$colorGreen: #78ffcc;
$colorPink: #ff9eff;
$colorBlue: #00ffff;

$colorBgDark: $colorFg;
$colorBgLight: rgba(255, 255, 255, .5);
