$maxPageSize: 900px;
$breakpointMini: 400px;
$breakpointSmall: 600px;
$breakpointMedium: 995px;
$breakpointLarge: 1200px;
$breakpointExtraLarge: 1400px;
$colorSubtle: #5d5d5d;

$headerHeight: 54px;

$colorBg: white;
$colorBgSubtle: #eaeaea;
$colorFg: #333333;

// MadeInBasel Colors
$colorGreen: #78ffcc;
$colorPink: #ff9eff;
$colorBlue: #00ffff;
$colorDark: #2b393f;
