@import '~assets/styles/variables.scss';

#legal {
  .component-contactAddress,
  .component-socialMenu,
  .contact-dialog {
    margin-bottom: 1em;
  }

  .component-contactAddress {
    i {
      display: none;
    }
  }

  .team {
    margin-bottom: 1em;

    .team-heading {
      font-weight: bold;

      &:not(:first-child) {
        margin-top: 0.5em;
      }
    }
  }

  .btn-contact,
  .btn-download {
    margin-left: 0;
  }

  h4 {
    margin-top: 2em;
  }

  .terms-dialog {
    text-align: center;
    width: 100%;
  }
}

.dialog--contact {
  padding: 20px;
}
