@import '~assets/styles/variables.scss';

#legal {
  .component-newsletter,
  .component-socialMenu,
  .contact-dialog {
    margin-bottom: 1em;
  }

  .component-contactAddress {
    i {
      display: none;
    }
  }

  .team {
    margin-bottom: 1em;

    .team-heading {
      font-weight: bold;

      &:not(:first-child) {
        margin-top: 0.5em;
      }
    }
  }

  .btn-contact {
    margin-left: 0;
  }

  h4 {
    margin-top: 2em;
  }

  .terms-dialog {
    text-align: center;
    width: 100%;
  }

  .membership {
    .thumb {
      border-radius: 50%;
      display: inline-flex;
      width: 100px;
    }
  }
}

.dialog--contact {
  padding: 20px;
}
