@import '~assets/styles/variables.scss';

#contact {
  .contactForm {
    margin-bottom: 1em;
  }

  form {
    background: $colorBgLight;
    padding: 20px;
  }

  .contact {
    margin-top: 1vh;
    margin-bottom: 4vh;
    @media(min-width: $breakpointSmall) {
      display: flex;
    }

    .contact-physical {
      margin-bottom: 12px;
      margin-right: 30px;
    }

    .contact-physical,
    .contact-virtual .email,
    .contact-virtual .phone {
      padding-left: 23px;
      position: relative;

      .icon {
        font-size: 18px;
        left: 0;
        position: absolute;
        top: 4px;
      }
    }
  }
}
