@import "~assets/styles/variables.scss";

#index {
  .wallpaper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: relative;

    .logo {
      width: 40vw;
    }

    .more {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
