@import "~assets/styles/variables.scss";

#index {
  .wallpaper {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;

    .logo {
      width: 40vw;
    }
  }

  .flex {
    padding: 5px;

    .member {
      align-items: center;
      background-color: white;
      display: flex;
      height: 100px;
      justify-content: center;
      padding: 12px;
    }

    img {
      max-height: 100%;
    }
  }
}
