@import "~assets/styles/variables.scss";

#label {
  .intro .logo {
    width: 160px;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    margin-bottom: 1em;
    padding: 0.2em;
    font-size: 1.1em;

    &:first-child {
      .box-inner {
        @media(min-width: 960px) {
          border-left: 0;
        }
      }
    }

    .box-inner {
      border-left: 3px solid currentColor;
      height: 100%;
      padding: 0.5em 2em;
    }
  }

  .benefits {
    ul {
      margin-top: 1em;
      text-align: left;
      line-height: 1.2;

      li {
        margin-bottom: 0.5em;
      }
    }
  }
}
