@import '~assets/styles/variables.scss';

#terms {
  .contact {
    margin-bottom: 1em;

    i {
      display: none;
    }
  }

  .team {
    margin-bottom: 1em;

    .team-heading {
      font-weight: bold;
      margin-top: 0.5em;
    }
  }

  .btn-download {
    margin-left: 0;
  }

  h4 {
    margin-top: 2em;
  }

  .terms-dialog {
    text-align: center;
    width: 100%;
  }
}
