@import '~assets/styles/variables.scss';

#terms {
  .contact {
    i {
      display: none;
    }
  }

  h4 {
    margin-top: 2em;
  }

  .terms-dialog {
    text-align: center;
    width: 100%;
  }
}
